<h2>Random Weapon</h2>
<div>
<table>
	<tr>
	<th rowspan='2'>Name</th>
	<th rowspan='2'>Type</th>
	<th colspan='5'>Attack Power</th>
	</tr>
	<tr>
		<th>Physical</th>
		<th>Magic</th>
		<th>Fire</th>
		<th>Lightning</th>
		<th>Dark</th>
	</tr>
	<tbody *ngFor="let w of weapon" (click)="gotoDetail(w)">
		<td> {{w.name}}</td>
		<td> {{w.basic_data.wep_type}}</td>
		<td> {{w.base_damages.Normal.physical}}</td>
		<td> {{w.base_damages.Normal.magic}}</td>
		<td> {{w.base_damages.Normal.fire}}</td>
		<td> {{w.base_damages.Normal.lightning}}</td>
		<td> {{w.base_damages.Normal.dark}}</td>
	</tbody>
</table>
</div>