<div *ngFor="let w of _weapon" >
	<div>
		<table class='center'>
			<tbody>
			<tr id=1>
				<th rowspan='8' >
					<img class='icon' src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/{{w.url}}.png" alt='e'>
					<h2>{{w.name}}</h2>
					<img title="type"  src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/weapon_type-icon.jpg" alt='e'>
					<h3 class='wep_desc'>{{w.basic_data.wep_type}}</h3>
					<div *ngIf="w.basic_data.infusable === '!0'" class='wep_desc'>
						<select [(ngModel)]="infIndex" (change)="changeInfusion()">
							<option *ngFor="let inf of infusions; let i=index" value={{i}}>{{inf}}</option>
						</select>
					</div>
				</th>
			</tr>
			<tr>
			<td>Class:</td>
				<td>
					<select [(ngModel)]="currentClass" (change)="update()">
						<option *ngFor="let c of _classes; let i = index" value={{i}}>{{c.class}}</option>
					</select>
				</td>
				<td>
					Stats
				</td>
			</tr>
			<tr id=2>
				<td>
					Level:
				</td>
				<td>
					{{_classes[currentClass].level}}
				</td>
				<td>
					{{this.currentLevel}}
				</td>
			</tr>
			<tr id=3>
				<td >
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_physicalAttack.png" alt='e'>						
					{{floor(base_dmgs.physical)}}
				</td>
				<td>
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/STR.jpg" alt='e'>
					{{stats.str}}
				</td>
				<td>
					<button (click)="statChange('str',1)">+</button>
					<button (click)="statChange('str',-1)">-</button>
				</td>
			</tr>
			<tr id=3>
					<td>
						<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-magicbonus.png" alt='e'>
						{{floor(base_dmgs.magic)}}
					</td>
					<td>
						<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/DEX.jpg" alt='e'>
						{{stats.dex}}
					</td>
					<td>
						<button (click)="statChange('dex',1)">+</button>
						<button (click)="statChange('dex',-1)">-</button>
					</td>
			</tr>
			<tr id=4>
				<td>
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-firebonus.png" alt='e'>
					{{floor(base_dmgs.fire)}}
				</td>
				<td>
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/INT.jpg" alt='e'>
					{{stats.int}}
				</td>
				<td>
					<button (click)="statChange('int',1)">+</button>
					<button (click)="statChange('int',-1)">-</button>
				</td>
			</tr>
			<tr id=5>
				<td>
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-lightningbonus.png" alt='e'>
					{{floor(base_dmgs.lightning)}}
				</td>
				<td >
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/FTH.jpg" alt='e'>
					{{stats.faith}}
				</td>
				<td>
					<button (click)="statChange('faith',1)">+</button>
					<button (click)="statChange('faith',-1)">-</button>
				</td>
			</tr>
			<tr id=6>
				<td>
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-darkbonus.png" alt='e'>
					{{floor(base_dmgs.dark)}}
				</td>
				<td>
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/luck.jpg" alt="err">
					{{stats.luck}}
				</td>
				<td>
					<button (click)="statChange('luck',1)">+</button>
					<button (click)="statChange('luck',-1)">-</button>
				</td>
			</tr>  
			<tr id=6>
				<td>
					<strong>Requirements</strong>
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/STR.jpg" alt='e'>
					{{w.basic_data.str_req}}
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/DEX.jpg" alt='e'>
					{{w.basic_data.dex_req}}
					<img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/INT.jpg" alt='e'>
					{{w.basic_data.int_req}}
				    <img src="http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/FTH.jpg" alt='e'>
					{{w.basic_data.faith_req}}
				</td>
				<td colspan='3' class='center'> 
					<h1 class='ar'> AR: </h1>
				<div class='ar'  *ngIf="evaluateStats() else notreq">
					<h2 class='ar green' title='AR: {{calculator.totalDmg}} | Phys: {{floor(base_dmgs.physical)}}+{{round(calculator.bonusPhysical)}} | Magic: {{floor(base_dmgs.magic)}}+{{round(calculator.bonusMagic)}} | Fire: {{floor(base_dmgs.fire)}}+{{round(calculator.bonusFire)}} | Lightning: {{floor(base_dmgs.lightning)}}+{{round(calculator.bonusLightning)}} | Dark: {{floor(base_dmgs.dark)}}+{{round(calculator.bonusDark)}}'>{{round(calculator.totalDmg)}}</h2>
				</div>
				<ng-template #notreq>
				<td class='ar red'> 
					Check Stats
				</td>
				</ng-template>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>